
/* styles.css */  
body {  
    font-family: Arial, sans-serif;  
    margin: 20px;  
    background: #f4f4f4;  
}  

#resume {  
    width: 600px;
    margin: 50px auto;
    background:linear-gradient(rgb(241, 188, 197), rgb(187, 15, 44));  
    padding: 20px;  
    border-radius: 5px;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
}  

h1, h2 {  
    color: #0a0808;  
}  

p, ul {  
    margin: 10px 0;  
}  

button {  
    margin-top: 20px;  
    padding: 10px 15px;  
    background-color: #070c08;  
    color: white;  
    border: none;  
    border-radius: 5px;  
    cursor: pointer; 
    position:absolute; 
}  

button:hover {  
    background-color: rgb(231, 69, 96);  
    color: black;
    
}